<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container{
            max-width: 700px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>오류 페이지</h2>
    </div>
    <div>
        <h4 class="mb-3">잘못된 정보 입력</h4>
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='main.html'"
                    th:onclick="|location.href='@{/member/mainLogin}'|">메인화면 가기</button>
        </div>
    </div>
    </form>
</div>
</body>
</html>